@{
	ViewData["Title"] = "Home Page";
}
<h1>Strona Główna</h1>
<a href="@Url.Action("index", "Calendar")" class="btn btn-primary">Dodawanie wydarzeń do kalendarza</a>
<a href="@Url.Action("Index", "StudentCalendar")" class="btn btn-primary">Kalendarz Studenta</a>
<a href="@Url.Action("Index", "GradesStudent")" class="btn btn-primary">Oceny</a>
<a href="@Url.Action("Index", "Grades")" class="btn btn-primary">Dodawanie Ocen</a>